# Python 캐시
__pycache__/
**/__pycache__/

# Node 모듈
node_modules/
**/node_modules/

# npm/yarn 잠금 파일
package-lock.json
**/package-lock.json

package.json
**/package.json

.env
admin-ui/.env

README.md